
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(31, 30, 30);
}

.contenedorGeneral{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorTarjetas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    background-color: #283593;
    display: flex;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    font-size: 100px;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);

}

.contenedorOpciones{
    background-color: rgb(53, 53, 53);
    padding-top: 1%;
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 1%;
}

.contenedorInput{
    gap: 1%;
    display: flex;
}

.botonSacarPrimero, .botonSacarTodos, .contenedorInput{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Botón */
button {
    background-color: #6975f0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #374ae0;
    transform: scale(1.05);
}

button:active {
    background-color: #0d1b6a;
    transform: scale(1);
}

/* Input */
input[type="text"], input[type="email"], input[type="password"], textarea {
    background-color: #1c1c1c;
    color: #ffffff;
    border: 2px solid  #2533ca;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #283593;
    outline: none;
}

/* Ajustes adicionales para textarea */
textarea {
    min-height: 100px;
}




/* Popiedades de la tarjeta (https://codepen.io/Jhonierpc/pen/MWgBJpy) */
.container{
    gap: 5%;
    margin-top: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #1e0f74;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}



form{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #283593;
    color: white;
    padding: 6%;
    border-radius: 10px;
}

.botonFormulario{
    margin-top: 5%;
    margin-left: 33%;
}